{
  "presets": ["es2015", "react"],
  "plugins": [
    ["react-intl", {
        "messagesDir": "./build/messages/"
        }],
    "add-module-exports",
    "transform-react-constant-elements",
    "transform-object-rest-spread",
    "transform-class-properties",
    "syntax-decorators"
  ]
}
