{
  "presets": ["es2015", "react"],
  "env": {
    "production": {
      "plugins": [
          "add-module-exports",
          "transform-object-rest-spread",
          "transform-class-properties",
          "syntax-decorators",
          "transform-react-constant-elements",
          "transform-react-inline-elements"
      ]
  },
    "development": {
        "plugins": [
          "add-module-exports",
          "transform-object-rest-spread",
          "transform-class-properties",
          "transform-react-constant-elements",
          "syntax-decorators",
          ["react-intl", {
              "messagesDir": "./build/messages/"
              }],
        ],
    }
  }
}
