{
  "parser": "babel-eslint",
  "extend": "eslint:recommended",
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
        "blockBindings": true,
        "arrowFunctions": true,
        "defaultParams": true,
        "forOf": true
    },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-console": 0,
    "arrow-spacing": [2, { "before": true, "after": true }],
    "arrow-parens": [2, "always"],
    "eqeqeq": [2, "smart"],
    "indent": [2, 4, {SwitchCase: 1}],
    "quotes": [2, 'single'],
    "linebreak-style": [2, "unix"],
    "prefer-arrow-callback": 2,
    "dot-notation": [2, {allowKeywords: false}],
    "no-use-before-define": 0,
    "no-unused-vars": 0, // see https://github.com/babel/babel-eslint/issues/21
    "semi": [2, "always"],
    "strict": 0,
    "yoda": [2, "never"],"no-alert": 2,
    "no-const-assign": 2,
    "no-this-before-super": 2,
    "no-unexpected-multiline": 2,
    "no-var": 1,
    "no-warning-comments": 0,
    "react/prefer-es6-class": 1
  }
}
