export default {
    resetPasswordAPIKey: '${SERVICE_USER_APIKEY}',
    PRIVATE_RECAPTCHA_KEY: '${SERVICE_USER_PRIVATE_RECAPTCHA_KEY}',
    SMTP: {
        host: '${SMTP_HOST}',
        port: ${SMTP_PORT},
        clientName: '${SMTP_CLIENTNAME}',
    }
};
