.hide-element {
    display: none;
}

.inline-div{
	display: inline-block;
}

.padding15{
	padding: 15px;
}

.bold{
	font-weight: bold;
}

.colored-blue{
	color: #4183C4;
}

.translation-item{
	padding-left: 5px;
}

.translation-div{
	display: inline-block;
}

.sw-tree .ui.list>.item:first-child {
	padding-top: 0.21428571em;
}

.sw-tree .ui.list>.item:last-child {
	padding-bottom: 0.21428571em;
}

/* Diff view related */

.top-diff .helpers {
  font-size: 20px;
  position: absolute;
  right: 0;
  width: 200px;
  height: 100vh;
}

.helpers .checkbox {
  margin: 5px 0px;
}

.top-diff .reveal {
  position: relative;
  width: calc(100% - 200px);
}

.top-diff .reveal .slides {
  position: relative;
}

.top-diff .diff-header{
  display: flex;
  font-size: 16px;
  height: 60px;
  padding: 5px;
  color: #fff;
  width: 100%;
  -webkit-box-align: center;
  padding: 18px;
  background-color: #ff9900;
}

.top-diff .reveal .diff-header{
  background-color: #424242;
  color: #fff;
}

.diff-view {
  display: flex;
  flex-direction: row;
}

.initVers, .mergedVers {
  flex: 1;
  width: 50%;
  border-right: 2px solid #333;
}

.top-diff .inlineContent {
  padding: 2%;
}

@media screen and (max-width: 900px) {
   .diff-view { flex-direction: column; }

   .initVers, .mergedVers { width: 100%; }
 }

/* HTML DOM Node related */
.diff-view .added, .modified, .deleted {
  padding: 5px;
  margin: 0px -10px;
  display: inline-block;
}

.diff-view p {
  margin: 1em;
}

.diff-view .added {
  border: 5px solid #93ca3b;
  background-color: rgba(147,202,59,0.2);
}
.diff-view .modified {
  border: 5px solid #FFCC00;
  background-color: rgba(255,204,0,0.1);
}
.diff-view .deleted {
  border: 5px solid #ff0030;
  background-color: rgba(255,0,48,0.1);
}

.diff-view.inverse .added {
  border: 5px solid #2ecc71;
  background-color: rgba(46,204,113,0.2);
}
.diff-view.inverse .modified {
  border: 5px solid #FF9800;
  background-color: rgba(255,152,0,0.1);
}
.diff-view.inverse .deleted {
  border: 5px solid #9C27B0;
  background-color: rgba(156,39,176,0.1);
}

/* Text related */
.diff-view .ins {
  background-color: #eaf2c2;
  color: #406619;
  text-decoration: none;
  line-height: 32px;
}

.diff-view .del {
  background-color: #fadad7;
  color: #b30000;
  text-decoration: line-through;
  line-height: 32px;
}

.diff-view.hide-add .added, .diff-view.hide-mod .modified, .diff-view.hide-del .deleted  {
  border: 5px solid transparent;
  background-color: transparent;
}

.diff-view.hide-text .ins, .diff-view.hide-text .del{
  color: #333;
  background-color: transparent;
  text-decoration: none;
}
