.hide-element {
    display: none;
}

.inline-div{
	display: inline-block;
}

.padding15{
	padding: 15px;
}

.bold{
	font-weight: bold;
}

.colored-blue{
	color: #4183C4;
}

.translation-item{
	padding-left: 5px;
}

.translation-div{
	display: inline-block;
}

.sw-tree .ui.list>.item:first-child {
	padding-top: 0.21428571em;
}

.sw-tree .ui.list>.item:last-child {
	padding-bottom: 0.21428571em;
}

.diff-view {
  padding-top: 50px;
}

.diff-view .added, .modified, .deleted {
  padding: 5px; margin: 2px;
}

.diff-view .added {border: 2px solid #93ca3b;}
.diff-view .modified {border: 2px solid #FFCC00;}
.diff-view .deleted {border: 2px solid #ff0030;}

.diff-view .txtadded, .txtdeleted {
  padding: 2px;
}

.diff-view .txtadded {background-color: #eaffea;}
.diff-view .txtdeleted {background-color: #ffecec; text-decoration: line-through;}
