.hide-element {
    display: none;
}

.inline-div{
	display: inline-block;
}

.padding15{
	padding: 15px;
}

.bold{
	font-weight: bold;
}

.colored-blue{
	color: #4183C4;
}

.translation-item{
	padding-left: 5px;
}

.translation-div{
	display: inline-block;
}

.sw-tree .ui.list>.item:first-child {
	padding-top: 0.21428571em;
}

.sw-tree .ui.list>.item:last-child {
	padding-bottom: 0.21428571em;
}

/* Diff view related */
.top-diff {
  position: relative;
  display: inline-block;
  width: 100vw;
  height: 83vh;
}

.top-diff .reveal .slides {
  transform: scale(0.9);
}

.diff-view {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.initVers, .mergedVers {
  flex: 1;
  transform: scale(0.9);
  max-width: 50%;
}

.diff-view .pptx2html {
  left: -75px;
}

/* HTML DOM Node related */
.diff-view .added, .modified, .deleted {
  padding: 5px; margin: 2px;
  display: inline-block;
}

.diff-view p {
  margin: 1em;
}

.diff-view .added {border: 5px solid #93ca3b;}
.diff-view .modified {border: 5px solid #FFCC00;}
.diff-view .deleted {border: 5px solid #ff0030;}

.diff-view.inverse .added {border: 5px solid #2ecc71;}
.diff-view.inverse .modified {border: 5px solid #FF9800;}
.diff-view.inverse .deleted {border: 5px solid #9C27B0;}

/* Text related */
.diff-view .ins {
  background-color: #eaf2c2;
  color: #406619;
  text-decoration: none;
}

.diff-view .del {
  background-color: #fadad7;
  color: #b30000;
  text-decoration: line-through;
}
